<div class="footer">
    <div class="return">
        <h4 (click)="goToHome()">Back to Top</h4>
    </div>
    <div class="moreinfo"> 
        <div>
            <span class="span">Get to Know us</span>
            <ul>
                <li>About us</li>
                <li>Careers</li>
                <li>Press Releases</li>
                <li>E-Commerce</li>
            </ul>
        </div>
        <div>
            <span class="span">Make Money with us</span>
            <ul>
                <li>Sell your products</li>
                <li>Buy my products</li>
                <li>Advertise your products</li>
                <li>Give rating on your purchase product</li>
                <li>Get more discount buy above 1000</li>
            </ul>
        </div>
        <div>
            <span class="span">Let Us Help you</span>
            <ul>
                <li>Return center</li>
                <li>your suggestions</li>
                <li>100% protection</li>
                <li>Download my application</li>
                <li>Help</li>
            </ul>
        </div>
        <div>
            <span class="span">Connect with us</span>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>whats app</li>
            </ul>
        </div>
    </div>
</div>
