<!-- <mat-dialog-content>
    <h2>Enter your login details</h2>
    <mat-form-field appearance="outline" style="width:250px">
      <mat-label>Enter Your email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field><br>
    <button mat-flat-button color="primary" style="width: 250px;" >Submit</button>
</mat-dialog-content>
   -->

   <mat-dialog-content>
    <h2>Enter your login details</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" style="width:250px">
        <mat-label>Enter Your email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" style="width: 250px;" type="submit">Submit</button>
    </form>
  </mat-dialog-content>
  