<!-- <form (ngSubmit)="addProducts()" #productForm="ngForm" >
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="newProduct.title" name="title" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" [(ngModel)]="newProduct.price" name="price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Category" [(ngModel)]="newProduct.category" name="category" required>
      <button mat-icon-button (click)="clearFormFields()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="rating" [(ngModel)]="newProduct.rating" name="rating" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" [(ngModel)]="newProduct.image" name="image" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="newProduct.description" name="description" required></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add Product</button>
  </form> -->
